
.book-card a, .book-card a span, .book-card a p {
    text-decoration: none !important;
    color: inherit;
}

/* 책 카드 */
.book-card {
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    height: 100%;
    overflow: hidden;
}

.book-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
}


/* 책 제목 */
.book-title {
    font-size: 1.6rem;
    font-weight: bold;
    color: #333; /
    margin-bottom: 15px;
    text-align: center;
    font-family: 'Arial', sans-serif;
    background-color: #e0f7fa;
    padding: 5px;
    border-radius: 5px;
}

/* 책 정보 */
.book-info {
    font-size: 1rem;
    color: #6c757d;
    text-align: center;
}

.book-info span {
    display: block;
    margin-bottom: 10px;
}

/* 책 등록일 */
.book-card .text-muted {
    font-size: 0.9rem;
    color: #aaa;
    margin-top: 15px;
    text-align: left;
    margin-top: auto;
    text-align: center;
}
/* 경고 메시지 */
.alert-warning {
    background-color: #f8d7da;
    border-color: #f5c6cb;
    color: #721c24;
    font-weight: bold;
    margin-top: 20px;
}

/* 반응형 */
@media (max-width: 768px) {
    .book-card {
        padding: 15px;
    }

    .book-title {
        font-size: 1.3rem;
    }

    .book-info {
        font-size: 0.9rem;
    }
}

h2 {
    font-size: 2.5rem;
    color: #333;
    font-weight: bold;
    background: linear-gradient(to right, #CDECFA,#FAFABE);
    padding: 10px 20px;
    border-radius: 8px;
}