

.container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 30px;
    margin: 50px auto;
    max-width: 900px;

    display: flex;
    flex-direction: column;
    position: relative;
}

body {
    background: linear-gradient(to right, #C8FAC8,#FAFABE);
    margin: 0;
    padding: 0;
}

/* 도서 제목 */
h2 {
    font-size: 2.5rem;
    color: #333;
    font-weight: bold;
    margin-bottom: 20px;
}

/* 도서 정보 박스 */
.book-info-box {
    background-color: #f4f4f4;
    border-radius: 8px;
    padding: 20px;
    margin-top: 20px;
    border: 2px solid #ddd;
}

/* 설명 텍스트 */
.description-box {
    background-color: #e0f7fa;
    border-radius: 8px;
    padding: 20px;
    margin-top: 20px;
    border: 2px solid #ddd;
    flex-grow: 1;
}

.button-group {
    margin-top: 20px;
    display: flex;
    gap: 10px;
    justify-content: flex-end;
}

.btn {
    font-size: 0.9rem;
    padding: 8px 16px;
    border-radius: 4px;
}

/* 도서 목록으로 버튼 */
.btn-secondary {
    background-color: #007bff;
    color: white;
}

.btn-secondary:hover {
    background-color: #0056b3;
}

/* 수정, 삭제 버튼 */
.btn-primary {
    background-color: #28a745;
    color: white;
}

.btn-primary:hover {
    background-color: #218838;
}

.btn-danger {
    background-color: #dc3545;
    color: white;
}

.btn-danger:hover {
    background-color: #c82333;
}



.delete-btn {
    background-color: transparent;
    border: none;
    color: #dc3545;
    font-size: 0.6rem;
    cursor: pointer;
    padding: 0;
    margin-left: 2px;
    transition: color 0.3s ease, transform 0.2s ease;
}

.delete-btn:hover {
    color: #c82333;
    transform: scale(1.2);
}

.delete-btn:focus {
    outline: none;
}

.file_list a {
    font-size: 0.9rem;
    color: #007bff;
    text-decoration: underline;
    white-space: nowrap;
}

